/* === LAYOUT === */

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  position: relative;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: clamp(0.25rem, 0.25rem + 1.25 * ((100vw - 23.125rem) / 25), 1.5rem) 0 0;
}

.mainWithSidebar {
  margin-left: 0;
}

.mainAnimated {
  transition: margin-left 250ms ease;
}

@media (min-width: 770px) {
  .mainWithSidebar.mainSidebarOpen {
    margin-left: 280px;
  }
}

.content {
  flex: 1;
  padding: 0 clamp(0.5rem, 0.5rem + 2.5 * ((100vw - 23.125rem) / 25), 3rem)
    clamp(0.5rem, 0.5rem + 2.5 * ((100vw - 23.125rem) / 25), 3rem);
  padding-top: 0;
  max-width: var(--sn-content-width-wide);
  margin: 0 auto;
  width: 100%;
}
