/* === LAYOUT === */

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: var(--sn-navbar-height);
}

.container {
  display: flex;
  flex: 1;
  position: relative;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: clamp(var(--sn-space-xs), var(--sn-space-xs) + 1.25 * ((100vw - 23.125rem) / 25), var(--sn-space-lg)) 0 0;
}

.mainWithSidebar {
  margin-left: 0;
}

.mainAnimated {
  transition: margin-left 250ms ease;
}

@media (min-width: 770px) {
  .mainWithSidebar.mainSidebarOpen {
    margin-left: 280px;
  }
}

.content {
  flex: 1;
  padding: 0 clamp(var(--sn-space-xs), var(--sn-space-xs) + 2.5 * ((100vw - 23.125rem) / 25), var(--sn-space-2xl))
    clamp(var(--sn-space-xs), var(--sn-space-xs) + 2.5 * ((100vw - 23.125rem) / 25), var(--sn-space-2xl));
  padding-top: 0;
  max-width: var(--sn-content-width-wide);
  margin: 0 auto;
  width: 100%;
}
