/* === CARD === */

.card {
  background: var(--sn-surface);
  color: var(--sn-text);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: var(--sn-radius-xl);
  border: 1px solid var(--sn-border);
}

.header {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 0.375rem;
  padding: 1.5rem 1.5rem 0;
  container-type: inline-size;
  container-name: card-header;
}

.header:has([data-slot="card-action"]) {
  grid-template-columns: 1fr auto;
}

.headerBorder {
  padding-bottom: 1.5rem;
}

.title {
  line-height: 1;
  color: var(--sn-text);
}

.description {
  color: var(--sn-text-muted);
}

.action {
  grid-column-start: 2;
  grid-row: span 2;
  grid-row-start: 1;
  align-self: start;
  justify-self: end;
}

.content {
  padding: 0 1.5rem;
}

.content:last-child {
  padding-bottom: 1.5rem;
}

.footer {
  display: flex;
  align-items: center;
  padding: 0 1.5rem 1.5rem;
}

.footerBorder {
  padding-top: 1.5rem;
}
